.myBooks.container1 {
    display: flex;
    flex-direction: column;
    
}

.myBooks.container1 .item_book {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.myBooks.container1 .item_book img {
    width: 200px;
    height: 200px;
}

.myBooks.container1 .item_book h3{
    font-size: 22px;
    max-width: 602px;
    font-weight: 500;
    font-style: italic;
}

.myBooks.container1 .item_book div{

}





.myBooks.container2 {
    display: flex;
    flex-direction: column;
    gap:12;
    position: fixed;
    top: 12px;
    left: 70vw;
    gap: 8px;
}

.myBooks.container2 > div {
    display: flex;
    flex-direction: column;
    gap:4px
}

.myBooks.container2  h2 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 141, 105);
}

.myBooks.container2 > div a{
    font-size: 14px;
    max-width: 340px;
}

.myBooks.container2 > div a:hover{
    text-decoration:underline;
    font-weight: 800;
}
